{% extends "mainApp/wrapper.html"%}

{% block content %}

{% load static %}

<h1>Contact with me:</h1>


<style>
    h1
        {
            color: deeppink;
            font-size: 53px;
        }
    p
        {
            color: #062c33;
            font-size: 20px;
        }
    .bottom
        {
            color: #b3d7ff;
        }
</style>

    {% for contact in contacts %}

    <p>{{contact}}</p>

    {% endfor %}

     <img src="{% static 'mainApp/image/vk-logo.png' %}" width="260" height="230"/>
    <img src="{% static 'mainApp/image/Octocat.png' %}" width="260" height="230"/>

{% endblock %}