<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MyPage</title>
     {% load static %}
    <link rel="stylesheet" href="{% static '/css/bootstrap.min.css' %}"
           type="text/css">
</head>
<body style="background: darkmagenta">

    <div class="jumbotron">
    <div class="container">
        {% block content %}
            {% endblock %}
      <p>
        <a href="/" class="btn btn-success btn-lg">About me &#129299; </a>
        <a href="/more" class="btn btn-primary btn-lg">More &#128187; </a>
          <a href="/contact" class="btn btn-info btn-lg">Contact &phone; </a>

      </p>
    </div>
  </div>
  <div class="container">
      <h1 class="logo-container"><dfn>We Create The Future</dfn> &#128171;</h1>
  </div>
    <hr>
    <img src="{% static 'mainApp/image/back-gif.gif' %}" width="100%"
    class="gif-logo"/>

    <hr>
      <h4 class="bottom">&copy; 2020. All rights reserved.</h4>
  </div>
</div>

</body>
</html>